{% extends "base.html" %}

{% block content %}


    <!doctype html>
  
    <title>DEMO Python Tools</title>
    
    <h1>LSNYC DEMO Python Tools</h1>
    
    <h3>Tools for manipulating reports from LegalServer:</h3>
    
    <b>General Purpose:</b>
    <ul type="disc">
    <li><a href="/Hyperlinker">Hyperlinker</a></li>
	
	<li><a href="/BatchPAUpdaterGuardrails">Batch PA # Updater</a></li>
	
	
    </ul>
	<div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
		</label>
		<em>Goth Mode</em>
    </div>
	
{% endblock %}